.bg-black{
    background-color: #000000;
}

.background-img{
    height: 420px;
    width: 100%;
    background-size: 100% 100%;
}
#menu .nav .nav-item .nav-link{
    color: black;
    font-size: smaller;

}
#menu .nav .nav-item .nav-link:hover{
    color: rgb(255, 255, 255);
   
}
.body{
    font-family: helvetica;
    color:black;
}
.About {
    padding-top: 120px;
    text-align: center;
}

#Support h5{
    font-weight: bold;
}
#space{
    padding-top: 105px;
}
#Support p {
    padding-top: 10px;
}
.Insta{
    padding: 105px 0 30px 0;
}
.col-md-2 ul li a {
    color:rgba(255, 255, 255, 0.63);
}
.col-md-4 ul li a {
    color:rgba(255, 255, 255, 0.63);
}
.col-md-3  a {
    color:rgba(255, 255, 255, 0.63);
}
.col-md-7 button{
border-radius: 30px;
    background-color:#dbcc8f;
    color:#ffffff;
    font-size: smaller;
    padding: 8px ;
}
.col-md-5 button{
    border-radius: 30px;
    background-color:#dbcc8f;
    color:#ffffff;
    font-size: smaller;
    padding: 10px;
   
    
}
#bill h5{
font-weight: 400;
font-size:large;
}
.col-md-5 a{
    text-decoration: none;
    border: 1px solid;
    background-color: #d3b749;
    color: white;
    padding: 8px;
    border-color: #d3b749;
}
.col-md-5 a:hover{
    background-color: #bb9057ab;
}
#padding-card{
    padding-top: 20px;
    padding-bottom: 20px;
}