.bg-black{
    background-color: #000000;
}

.background-img{
    height: 420px;
    width: 100%;
    background-size: 100% 100%;
}
#menu .nav .nav-item .nav-link{
    color: black;
    font-size: smaller;

}
#menu .nav .nav-item .nav-link:hover{
    color: rgb(255, 255, 255);
   
}
.body{
    font-family: helvetica;
    color:black;
}
.About {
    padding-top: 120px;
    text-align: center;
}
.container a:hover{
    /* background-color:#000000; */
}
#Support h5{
    font-weight: bold;
}
#space{
    padding-top: 105px;
}
#Support p {
    padding-top: 10px;
}
.Insta{
    padding: 105px 0 30px 0;
}
.col-md-2 ul li a {
    color:rgba(255, 255, 255, 0.63);
}
.col-md-4 ul li a {
    color:rgba(255, 255, 255, 0.63);
}
.col-md-3  a {
    color:rgba(255, 255, 255, 0.63);
}

